* {
    padding: 0;
    margin: 0;
}

.banners {

}

.banners .carousel-inner .carousel-item img {
    width: 100%;
}

.detail .info {
    line-height: 1.8;
}

.login-title {
    margin: 0 auto;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 10vh;
}

.login-box {
    margin: 0 auto;
    width: 500px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.doc-container {
    width: 1000px;
    margin: 0 auto;
    border: #20559B 2px solid;
}

.doc-container .doc-inner {
    border: #20559B 2px solid;
    margin: 5px;
}

.doc-theme-color {
    color: #20559B;
}

.doc-title {
    color: #20559B;
}

.doc-inner .main {
    width: 850px;
    min-height: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}